.portfolio{

}

.titlelayout{    
    font: 100px;
}

.selectTitle{
    margin: 20px 0px;
}

.items{
    display: flex;
    gap: 50px;
}

.item{
    border: 2px solid #bbb;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    background-size: cover !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    top: 0;
}
.item:hover .img{
    transform: scale(1.1);
    transition: 0.5s ;
    filter: brightness(0.3);
}

.item:hover .title{
   opacity: 1;
   z-index: 1;
   transition: 0.5s;
}

.title{    
    font-size: 30px;
    font-weight: bold;
    opacity: 1;
    transition: 0.5s;        
}

.item:hover .title{
    color: #53c28b;
    transition: 0.5s;
}

