.portfolio{

}

.titlelayout{    
    font: 100px;
}

.selectTitle{
    margin: 20px 0px;
}

.items{
    display: flex;
    gap: 50px;
}

.item{
    border: 2px solid #bbb;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    background-size: cover !important;
}

.item:nth-child(1){
    background: url("../../../public/illustration.png");    
}
.item:nth-child(2){
    background: url("../../../public/websites.jpg");    
}
.item:nth-child(3){
    background: url("../../../public/apps.jpg");    
}

.title{
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

.item:hover .title{
    color: #53c28b;
    transition: 0.5s;
}

