.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
}
.logo{
   font-weight: bold;
   font-size: 22px;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.link{    
    padding: 10px;
    border-radius: 10px;    
}
.link:hover{
    background-color: #53c28b;
     color: white;
     transition: 0.5s ease-in-out;
}

.logout{
    padding: 5px;    
    background-color: #53c28b;
    color: white;   
    border-radius: 5px; 
}