.footer{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.img_con{
    display: flex;
    align-items: center;
    gap: 20px;
    width: max-content;    
}